<footer>
  <div class="upper">
    <div class="box signup">
      <h3>Sign up and <br> get free content every week </h3>
      <input type="text" placeholder="Enter your email.."><br>
      <button type="button">Sign Up</button>
    </div>
    <div class="box links">
      <h3>Browse by Categories </h3>
      <div class="categories">
        <ul>
          <li>Graphics</li>
          <li>PSDs</li>
          <li>Icons</li>
          <li>Templates</li>
          <li>Themes</li>
        </ul>
        <ul>
          <li>Addons</li>
          <li>Fonts</li>
          <li>Textures</li>
          <li>Patterns</li>
          <li>Backgrounds</li>
        </ul>
        <ul>
          <li>Buttons</li>
          <li>Forms</li>
          <li>GUI</li>
          <li>Navigation</li>
          <li>UI Kits</li>
        </ul>
        <ul>
          <li>Infographics</li>
          <li>Graphs</li>
          <li>Logos</li>
          <li>Vectors</li>
          <li>Business Cards</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lower">
    <div class="row">
      <div class="nav-links">
        <ul>
          <li>Affiliates</li>
          <li>/</li>
          <li>Contributors</li>
          <li>/</li>
          <li>Press/Media</li>
          <li>/</li>
          <li>Careers</li>
          <li>/</li>
          <li>About</li>
          <li>/</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="sns-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fas fa-rss"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        Copyright @ 2018 myCompany All rights reserved.
      </div>
    </div>
  </div>
</footer>
