footer {
  .upper {
    background-color: #373A3F;
    color: white;
    padding: 2rem;

    .box {
      flex: 1;
    }
  }

  h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
  }
}

.signup {

  input {
    width: 22rem;
    height: 2.25rem;
    border-radius: 0.4rem;
    border: 1px solid white;
    margin-bottom: 1rem;
    background-color: #373A3F;
    padding-left: 1rem;
    color: white;

    &::placeholder {
      color: #777C80;
      font-weight: 600;
    }
  }

  button {
    width: 23rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: 0;
    background-color: #2B88B4;
    color: white;
    font-size: 1.25rem;
  }
}

.categories {
  display: flex;

  ul {
    flex: 1;

    li {
      margin: .75rem 0;
      font-size: .75rem;
      color: #777C80;
    }
  }
}

@media(min-width: 768px) {
  footer {
    .upper {
      display: flex;
    }
  }
}
