<footer>
  <div class="upper">
    <div class="box signup">
      <h3>Sign up and <br> get free content every week </h3>
      <input type="text" placeholder="Enter your email.."><br>
      <button type="button">Sign Up</button>
    </div>
    <div class="box links">
      <h3>Browse by Categories </h3>
      <div class="categories">
        <ul>
          <li><a href="#">Graphics</a></li>
          <li><a href="#">PSDs</a></li>
          <li><a href="#">Icons</a></li>
          <li><a href="#">Templates</a></li>
          <li><a href="#">Themes</a></li>
        </ul>
        <ul>
          <li><a href="#">Addons</a></li>
          <li><a href="#">Fonts</a></li>
          <li><a href="#">Textures</a></li>
          <li><a href="#">Patterns</a></li>
          <li><a href="#">Backgrounds</a></li>
        </ul>
        <ul>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Forms</a></li>
          <li><a href="#">GUI</a></li>
          <li><a href="#">Navigation</a></li>
          <li><a href="#">UI Kits</a></li>
        </ul>
        <ul>
          <li><a href="#">Infographics</a></li>
          <li><a href="#">Graphs</a></li>
          <li><a href="#">Logos</a></li>
          <li><a href="#">Vectors</a></li>
          <li><a href="#">Business Cards</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lower">
    <div class="row">
      <div class="nav-links">
        <ul>
          <li><a href="#">Affiliates</a></li>
          <li>/</li>
          <li><a href="#">Contributors</a></li>
          <li>/</li>
          <li><a href="#">Press/Media</a></li>
          <li>/</li>
          <li><a href="#">Careers</a></li>
          <li>/</li>
          <li><a href="#">About</a></li>
          <li>/</li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="sns-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fas fa-rss"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        Copyright @ 2018 myCompany All rights reserved.
      </div>
    </div>
  </div>
</footer>
