<footer>
  <div class="signup">
    <h3>Sign up and <br> get free content every week </h3>
    <input type="text" placeholder="Enter your email.."><br>
    <button type="button">Sign Up</button>
  </div>
  <div class="links">
    <h3>Browse by Categories </h3>
    <div class="categories">
      <ul>
        <li>Graphics</li>
        <li>PSDs</li>
        <li>Icons</li>
        <li>Templates</li>
        <li>Themes</li>
      </ul>
      <ul>
        <li>Addons</li>
        <li>Fonts</li>
        <li>Textures</li>
        <li>Patterns</li>
        <li>Backgrounds</li>
      </ul>
      <ul>
        <li>Buttons</li>
        <li>Forms</li>
        <li>GUI</li>
        <li>Navigation</li>
        <li>UI Kits</li>
      </ul>
      <ul>
        <li>Infographics</li>
        <li>Graphs</li>
        <li>Logos</li>
        <li>Vectors</li>
        <li>Business Cards</li>
      </ul>
    </div>
  </div>
</footer>
